<form action="/artists" method="GET">

    <div class="header__container">

<a href="/">

        <img src="https://getheavy.com/wp-content/uploads/2019/12/spotify2019-830x350.jpg"
            {{!-- src="https://cdn.dribbble.com/users/441326/screenshots/3165191/spotify-gif---oliver-keane.gif" --}}
            alt="" />
</a>

        <div class="header">
            <div class="header__left">
                {{!-- <SearchIcon /> --}}
                <input name="artist" placeholder="Search for Artists, Songs, or Podcasts " type="text" />
                <button class="btn btn-primary" type="submit">Search</button>

            </div>
        </div>




    </div>

</form>