{{!-- 
<a href="/">Home</a> --}}

{{>searchBar}}
<div class="albumResults__container">

    <h3>Resultats albums</h3>

    <div class="albumResults">
        {{#each album}}

        
            <a class='albumResults__info' href="/tracks/{{this.id}}">
            <div class='albumResults__left'>
                <img src="{{this.images.0.url}}" alt="Photo Artist" class="artist-img">
                <div>
                    <h3>{{this.name}}</h3>
                    <h4>Album</h4>
                </div>
            </div>
            <div class='albumResults__right'>
            <p>></p>
            </div>
            </a>
        
        {{/each}}
    </div>
</div>