<h1>Albums</h1>

{{#each tracks}}
<figure>
    <p>Listen to {{this.name}}</p>
    {{!-- <audio controls="" src={{this.preview_url}} class="audio-size"></audio> --}}
    <audio controls src="https://p.scdn.co/mp3-preview/3eb16018c2a700240e9dfb8817b6f2d041f15eb1?cid=774b29d4f13844c495f206cafdad9c86">Play</audio></div>
</figure>
{{/each}}