* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("../images/spotify.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

body {
  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100%;
  color: white;
  /* padding: 30px; */
  overflow-y: overlay;
}

.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login>img {
  width: 100%;
  max-width: 50%;
}

.login>a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.artist-container,
.album-container {
  width: 20%;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

/* .search-bar {
    display: flex;
    width: 50%;
    margin: auto;
    line-height: 100vh;
} */

.search-flex {
  display: flex;
}

.search-position {
  margin: 0 auto;
  height: 100vh;
}

.input-search {
  margin-bottom: 20px;
}

/* input,
.btn {
  border-radius: 0 !important;
} */

.title-home {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  /* font-size: 3.5rem; */
}

/* .search-container {
  background-color: red;
} */


/* ARTISTS */

.artistResults__container {

  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
}

.artistResults__container h3 {
  padding: 0 20px;
  color: white;
}

.artistResults {
  /* width: 100%; */
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

.artistResults__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.artistResults__info a:hover {
  
  transition: 0.5s;
  transform: scale(1.08);
  filter: brightness(50%);
}


.artistResults__info>h3 {
  margin-top: 10px;
  font-size: 16px;
  max-width: 300px;

  color: white;
  text-align: center;
}

.artistResults__info>h4 {
  font-size: 14px;
  width: 100%;
  color: lightgray;
  text-align: center;
}



.artistResults__infoImage {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

/* ALBUM */

.albumResults__container {

  width: 100%;
  max-width: 1200px;
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;
  margin-top: 30px;
}

.albumResults {
  width: 100%;;
}

.albumResults a {
  text-decoration: none;
}

.albumResults__info:hover {
  transition: 0.5s;
  transform: scale(1.08);
  /* filter: brightness(50%); */
  background-color: black;
}

.albumResults__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  margin-bottom: 15px;

}

.albumResults__container h3 {

  color: white;
}

.albumResults__info div {
  /* flex: 0.9; */
  /* width: 90%; */
}

.albumResults__right p {
  /* flex: 0.1; */
  /* width: 10%; */
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 25px;
  margin: 0!important;
  padding-right: 25px;
  color: lightgray;
  
}

.albumResults__left img{
width: 75px;
}

.albumResults__left div {
  display: flex;
  flex-direction: column;
}

.albumResults__left h3{
  margin-left: 10px;
  font-size: 18px;
  color: white;
  }

  .albumResults__left h4{
    margin-left: 10px;
    font-size: 16px;
    color: lightgray;
    }

.albumResults__left {
  display: flex;
  align-items: center;
}

